.main-logo{
	height: 45px;
    width: 134px;
    background-image: url(../assets/evi-logo.png);
    background-size: 198px 198px;
    background-position: -32px -64px;	
}
.particles-js-canvas-el{
	background-color: white;
	position: relative;
	height: 400px !important;
    border-top: 25px solid #d13b23;
    border-bottom: 25px solid #d13b23;
}
#particles-js{
	height: auto;
}
.evi-ad{
	width: 200px;
    height: 600px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: auto;
    background-color: rgba(0,0,0,0.1);
    color: black;
    margin-top: 96px;
    text-align: center;
    padding: 20px;
}
.evi-container{
	margin-top:60px;
	margin-left:40px;
	margin-right: 40px;
}
.evi-red-title{
	background-color:#d13b23;
	width: 300px;
	height: 40px;
	color: white;
	padding-top: 8px;
	padding-left: 20px;
	text-align: left;
}
.canvas-textarea{
	position: absolute;
    z-index: 1;
    top: 107px;
    left: 70px;
    width: 640px;
    background-color: rgba(255,255,255,0.8);
    height: 350px;
    border-left: 200px solid #d13b23;
}
.canvas-heading{
	padding: 18px 0px 6px 30px;
    font-size: 2em;
}
.canvas-list{
	padding-left: 19px;
    padding-bottom: 15px;
    font-size: 1.1em;
}
.canvas-list:before{
	    content: ">";
    background-color: #ffffff;
    color: #d13b23;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: -16px;
    left: -52px;
    font-size: 1.2em;
    font-weight: 700;
}
.canvas-evi-logo{
	background-image: url(../assets/evi-logo-red.png);
    width: 160px;
    height: 160px;
    background-size: 100%;
    position: relative;
    top: -96px;
    right: -655px;
}





.placeholder-p{
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	height: 12px;
}